#rightbar {
  position: fixed;
  top: 20px;
  right: 10px;
  background-color: #FFFF00;
  padding: 15px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 26pt;
  color: #FF0000;
  text-align: center;
  height: 100%px;
}

#rightbar .title{
  font-size: 20px;
}

#rightbar .text{
  font-size: 15px;
}
